<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant catalogue for you" />
    <link rel="icon" href="./icon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#maincontent" tabindex="0" class="skip-link">Menuju ke konten</a>
    <header>
      <nav>
        <h1>SiMangan</h1>
        <button class="dropdown" href="#">☰</button>
        <ul class="drawer">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/radyaadi/" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>Menjadi Front-End Web Developer Expert by Radya Adi</p>
    </footer>
  </body>
</html>
